@inherits LayoutComponentBase
<div class="page">

    <header class="header">
        <div class="text-header">
            <h1>Bol-x</h1>
        </div>
        
    </header>

    <nav class="navegated">
        <div class="sidebar">
            <NavMenu />
        </div>

    </nav>

    <main>
        <article class="content px-4">
            @Body
        </article>

    </main>

    <footer class="footer-page">
        <div class="text-footer">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <p>Contactanos</p>
                        <a href="https://web.whatsapp.com/">5833 5293</a>
                    </div>
                    <div class="col-4">
                        <p>Correo</p>
                        <a href="https://accounts.google.com/v3/signin/accountchooser?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ec=asw-gmail-globalnav-signin&flowEntry=AccountChooser&flowName=GlifWebSignIn&service=mail&dsh=S-432517611%3A1749085264174488">Bolx@gmail.com</a>
                    </div>
                    <div class="col-4">
                        <p>Redes sociales</p>
                        <a href="https://www.facebook.com/">Facebook</a>
                    </div>
                </div>
                <div class="row">
                    <div class="firma">
                        <p>© 2025 BOL-X</p>
                    </div>
                </div>
            </div>
        </div>       
    </footer>

</div>
