@inherits LayoutComponentBase
<div class="page">

    <header class="header">
        <div class="text-header">
            <h1>Bolex</h1>
        </div>
        
    </header>

    <nav class="navegated">
        <div class="sidebar">
            <NavMenu />
        </div>

    </nav>

    <main>
        <article class="content px-4">
            @Body
        </article>

    </main>

    <footer class="footer-page">
        <div class="text-footer">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <a href="">Numero</a>                       
                    </div>
                    <div class="col-4">
                        <a href="">Correo</a>
                    </div>
                    <div class="col-4">
                        <a href="">Redes sociales</a>
                    </div>
                </div>
                <div class="row">
                    <div class="firma">
                        <p>© 2025 BOL-X</p>
                    </div>
                </div>
            </div>
        </div>       
    </footer>

</div>
