@page "/mesasplatino"
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@using PaginaDeBoletos
@using PaginaDeBoletos.Clases
<PageTitle>Pagina mesas platino</PageTitle>

<EditForm Model="@boleto" OnValidSubmit="@guardar">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="Contenedor-sesion">
        <div class="form-container">
            <p class="title">Compra Mesas Platino</p>
            <p>Cantidad de boletos disponibles: @MesasPlatino.Boletos_Mesas_Platino</p>
            <div class="form">
                <div class="input-group">
                    <label for="nombre">Nombre:</label>
                    <InputText placeholder="" id="nombre" @bind-Value="boleto.Nombre" style="width: 100%; border-radius: 0.375rem; border: 1px solid rgba(55, 65, 81, 1); outline: 0; background-color: rgba(17, 24, 39, 1); padding: 0.75rem 1rem; color: rgba(243, 244, 246, 1);" />
                    <ValidationMessage For="() => boleto.Nombre" />
                </div>
                <div class="input-group">
                    <label for="dpi">DPI:</label>
                    <InputText placeholder="" id="dpi" @bind-Value="boleto.DPI" style="width: 100%; border-radius: 0.375rem; border: 1px solid rgba(55, 65, 81, 1); outline: 0; background-color: rgba(17, 24, 39, 1); padding: 0.75rem 1rem; color: rgba(243, 244, 246, 1);" />
                    <ValidationMessage For="() => boleto.DPI" />
                    <label for="correo">Correo electronico:</label>
                    <InputText placeholder="" id="correo" @bind-Value="boleto.Correo" style="width: 100%; border-radius: 0.375rem; border: 1px solid rgba(55, 65, 81, 1); outline: 0; background-color: rgba(17, 24, 39, 1); padding: 0.75rem 1rem; color: rgba(243, 244, 246, 1);" />
                    <ValidationMessage For="() => boleto.Correo" />
                    <label for="correo">Cantidad boletos:</label>
                    <InputNumber placeholder="" id="correo" @bind-Value="boleto.cantidad_boletos" style="width: 100%; border-radius: 0.375rem; border: 1px solid rgba(55, 65, 81, 1); outline: 0; background-color: rgba(17, 24, 39, 1); padding: 0.75rem 1rem; color: rgba(243, 244, 246, 1);" />
                    <ValidationMessage For="() => boleto.cantidad_boletos" />
                </div>
                <button style="margin-top:6%;" class="sign" type="submit">Comprar</button>
            </div>
            <div class="social-message">
                <div class="line"></div>
                <p class="message">Ingrese los datos solicitados</p>
                <div class="line"></div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private int cantidadboletos = 0;
    private MesasPlatino boleto = new MesasPlatino();
    private List<MesasPlatino> Lista_Boletos_Platino = new List<MesasPlatino>();


    private void guardar()
    {
        boleto.Fecha_Compra = DateTime.Now;
        boleto.Numero_correlativo = int.Parse(Transaccion.NoCorrelativo(boleto.DPI,1));
        boleto.Zona = "Mesas Platino";

        if (boleto.cantidad_boletos <= MesasPlatino.Boletos_Mesas_Platino)
        {
            Transaccion.Cola_MesasPlatino.Enqueue(boleto);
            ProcesarCola();
        }
        
    }

    protected override async Task OnInitializedAsync()
    {
        // Recuperar la lista de starships desde LocalStorage a una variable var
        var savedPlatino = localStorage.GetItem<List<MesasPlatino>>("Registro_Platino");

        // Validar si la lista fue recuperada correctamente, copiarla a la lista
        if (savedPlatino != null)
        {
            Lista_Boletos_Platino = savedPlatino;
        }
    }

    private void ProcesarCola()
    {
        while (Transaccion.Cola_MesasPlatino.Count > 0)
        {
            var siguiente = Transaccion.Cola_MesasPlatino.Dequeue();

            MesasPlatino.Boletos_Mesas_Platino -= boleto.cantidad_boletos;
            Lista_Boletos_Platino.Add(siguiente);

            localStorage.SetItem("Registro_Platino", Lista_Boletos_Platino);
        }
    }
}