.space-table {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen {
    background-color: #f3eae8;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, #0968a5, #102944);
    border-image-slice: 1;
    box-sizing: border-box;
    width: 700px;
    height: auto;
}
.bodyimagen {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.table {
    width: auto;
    margin: 20px 0;
    margin-top: 45px;
    font-family: Arial, sans-serif;
    border-spacing: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border-spacing: 10px; 
    border-collapse: separate; 
}

    .table tbody tr {
        border-bottom: 1px solid #ddd;
    }

    .table td, .table th {
        border: 1px solid #ddd;
        padding: 15px;
        border: 1px solid #ccc; 
        text-align: center;
        color: white;
    }


 