@page "/conciertos"
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@using PaginaDeBoletos.Clases
<PageTitle>Boletos</PageTitle>

<h1>Boletos displonibles</h1>

<div class="BoletosVenta">
    <a href="mesasplatino" class="card-link0">
        <div class="card0">
            <div class="bi-diamond-fill">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diamond-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.48 1.48 0 0 1 0-2.098z" />
                </svg>
            </div>
            <div class="textBox0">
                <p class="head0">Mesas platino</p>
                <p class="discription0">Boleto para mesas platino</p>
                <p class="price0">Q. 2,000.00</p>
            </div>
        </div>
    </a>
    <a href="vip" class="card-link">
        <div class="card">
            <div class="bi-bicycle">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diamond-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.48 1.48 0 0 1 0-2.098z" />
                </svg>
            </div>
            <div class="textBox">
                <p class="head">VIP</p>
                <p class="discription">Boleto del tipo VIP</p>
                <p class="price">Q. 1,200.00</p>
            </div>
        </div>
    </a>
    <a href="tribuna" class="card-link2">
        <div class="card2">
            <div class="bi-cash-stack">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diamond-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.48 1.48 0 0 1 0-2.098z" />
                </svg>
            </div>
            <div class="textBox2">
                <p class="head2">Tribuna</p>
                <p class="discription2">Boleto a tribuna</p>
                <p class="price2">Q. 600.00</p>
            </div>
        </div>

    </a>

    <a href="general" class="card-link3">
        <div class="card3">
            <div class="bi-check-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diamond-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.48 1.48 0 0 1 0-2.098z" />
                </svg>
            </div>  
            <div class="textBox3">
                <p class="head3">General</p>
                <p class="discription3">Boleto para general</p>
                <p class="price3">Q. 350.00</p>
            </div>
        </div>

    </a>

</div>


@code {
    private Boletos boleto = new Boletos();
    private List<Boletos> Lista_Boletos = new List<Boletos>();


    protected override async Task OnInitializedAsync()
    {
        // Recuperar la lista de starships desde LocalStorage a una variable var
        var savedStarships = localStorage.GetItem<List<Boletos>>("starships");

        // Validar si la lista fue recuperada correctamente, copiarla a la lista
        if (savedStarships != null)
        {
            Lista_Boletos = savedStarships;
          
        }
        
    }
}
