@page "/conciertos"
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@using PaginaDeBoletos.Clases
<PageTitle>Boletos</PageTitle>

<h1>Boletos displonibles</h1>

<div class="BoletosVenta">
    <a href="mesasplatino" class="card-link0">
        <div class="card0">
            <div class="bi-diamond-fill">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diamond-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.48 1.48 0 0 1 0-2.098z" />
                </svg>
            </div>
            <div class="textBox0">
                <p class="head0">Mesas platino</p>
                <p class="discription0">Boleto para mesas platino</p>
                <p class="price0">Q. 2,000.00</p>
            </div>
        </div>
    </a>
    <a href="vip" class="card-link">
        <div class="card">
            <div class="bi-bicycle">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bicycle" viewBox="0 0 16 16">
                    <path d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5m1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139zM8 9.057 9.598 6.5H6.402zM4.937 9.5a2 2 0 0 0-.487-.877l-.548.877zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53z" />
                </svg>
            </div>
            <div class="textBox">
                <p class="head">VIP</p>
                <p class="discription">Boleto del tipo VIP</p>
                <p class="price">Q. 1,200.00</p>
            </div>
        </div>
    </a>
    <a href="tribuna" class="card-link2">
        <div class="card2">
            <div class="bi-cash-stack">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                    <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                    <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z" />
                </svg>
            </div>
            <div class="textBox2">
                <p class="head2">Tribuna</p>
                <p class="discription2">Boleto a tribuna</p>
                <p class="price2">Q. 600.00</p>
            </div>
        </div>

    </a>

    <a href="general" class="card-link3">
        <div class="card3">
            <div class="bi-check-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                </svg>
            </div>  
            <div class="textBox3">
                <p class="head3">General</p>
                <p class="discription3">Boleto para general</p>
                <p class="price3">Q. 350.00</p>
            </div>
        </div>

    </a>

</div>


@code {
    private Boletos boleto = new Boletos();
    private List<Boletos> Lista_Boletos = new List<Boletos>();


    protected override async Task OnInitializedAsync()
    {
        // Recuperar la lista de starships desde LocalStorage a una variable var
        var savedStarships = localStorage.GetItem<List<Boletos>>("starships");

        // Validar si la lista fue recuperada correctamente, copiarla a la lista
        if (savedStarships != null)
        {
            Lista_Boletos = savedStarships;
          
        }
        
    }
}
