@keyframes tapeo {
    0% {
        transform: translateX(100%); 
    }

    100% {
        transform: translateX(0); 
    }
}

.title {
    margin-block-end:100px;
    font-size: 2em;
    color: white; 
    animation: tapeo 1.5s ease-out forwards; 
}

.Texto-Promocion p {
    margin: 100px;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
    color: #f0f0f0;
}