@keyframes tapeo {
    0% {
        transform: translateX(100%); 
    }

    100% {
        transform: translateX(0); 
    }
}

.title {
    margin-block-end:500px;
    font-size: 2em;
    color: white; 
    animation: tapeo 1.5s ease-out forwards; 
}
