@page "/"

<PageTitle>Home</PageTitle>

<h1 class="title">Bienvenido a compra online de boletos</h1>


<div class="bodyimagen">
    <div class="imagen">
        <picture>
            <img src="sample-data/Foto concierto.jpg" alt="Descripción de la imagen">
        </picture>
    </div>
</div>

<div class="Texto-Promocion">
    <h2>¡Prepárate para vivir la mejor noche del año!</h2>
    <p>Este concierto es una invitación a vivir una experiencia única donde la música, la energía y la emoción se unen en una sola noche inolvidable. Con la presentación en vivo de artistas destacados, un ambiente vibrante y una producción de primer nivel, este evento está pensado para quienes buscan más que solo un espectáculo: quieren crear recuerdos. Desde el primer acorde hasta el último aplauso, cada momento está diseñado para que el público se conecte con la música y disfrute intensamente. Ya sea que vengas con amigos, pareja o por tu cuenta, esta será una noche que no querrás perderte.</p>
</div>